
.register-area{
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(28, 28, 38, 1);
  h1{
    font-size: 30px;
    color: #fff;
    text-align: center;
  }
  label{
    display: block;
    padding: 7px 0;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }
  .form-control{
    display: block;
    width: 100%;
    background-color: rgba(20, 20, 28, 1);
    height: 45px;
    border-radius: 10px;
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color:  rgba(255, 255, 255, 1);
    padding-left: 15px;
  }
  button{
    background: linear-gradient(91.44deg, #C20505 1.23%, #F84F4F 99.73%);
    padding: 10px 25px;
    border-radius: 10px;
    color: #fff;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

  }
  .already_have{
    p{
      font-family: "Poppins",sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 0.6);
      a{
        color: rgba(86, 237, 155, 1);
        text-decoration: underline;
      }
    }
  }
}
