<div class="max-w-md mx-auto overflow-hidden bg-white rounded-xl md:max-w-2xl">
  <div class="items-center md:flex">
    <div class="md:flex-shrink-0">
      <img class="object-cover w-full h-48 md:w-48" src="assets/avatar/avatar2.png" alt="User Avatar">
    </div>
    <div class="p-8">
      <div class="text-sm font-semibold tracking-wide text-indigo-500 uppercase">User Profile</div>
      <div class="mt-2">
        <div class="text-2xl font-semibold text-gray-800">John Doe</div>
        <div class="mt-2 text-gray-500">Software Engineer</div>
        <div class="mt-2 text-gray-500">New York City, USA</div>
        <div class="mt-2 text-gray-500">john.doe example.com</div>
      </div>
    </div>
  </div>
</div>
