<div class="flex w-full h-screen m-0">
  <!-- Sidebar -->
  <div class="w-64 bg-gray-800">
    <div class="p-4 text-white">
      <h1 class="text-xl font-bold text-center">Money Exchange</h1>
    </div>
    <ul class="mt-2">
      <li>
        <a
          routerLink="/admin/dashboard/home"
          routerLinkActive="active"
          class="block w-full px-4 py-2 text-center text-white hover:bg-rose-600 "
          >Dashboard</a
        >
      </li>
      <li>
        <a
          routerLink="/admin/dashboard/user-details"
          routerLinkActive="active"
          class="block w-full px-4 py-2 text-center text-white hover:bg-rose-600" >User Details</a
        >
      </li>

      <li>
        <a
          routerLink="/admin/h"
          routerLinkActive="active"
          class="block w-full px-4 py-2 text-center text-white hover:bg-rose-600" >Payment</a
        >
      </li>
    </ul>
  </div>
</div>
