<div class="verification-area" >
  <div class="modal">
    <div class="p-5 top-bar">
      <div class="flex">
        <div class="w-3/4">
          <a href="">Verification Empresa</a>
        </div>
        <div class="flex justify-end w-1/4">
          <button type="button" class="btn" (click)="toggleDetails()"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
    <div class="pt-5 modal-content">
      <div class="file-inputs">
        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
        </div>
        <!-- 3-4 -->
        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
        </div>
        <!-- 5-6 -->
        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
        </div>
        <!-- 7-8 items -->
        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
        </div>
        <!-- 9-10 items -->
        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
          <div class="w-2/4 p-3">
            <div class="flex items-center w-full form-group">
              <input type="file" class="text-white form-control-file" name="selfieVerification"   placeholder="" multiple (change)="onFileChange($event)">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pb-4 submit-modal">
      <button type="button" class="btn" (click)="uploadFiles()" >
        Verify
      </button>
    </div>
  </div>
</div>
