<div class="flex items-start justify-start w-full h-full" [formGroup]="personalDetails">
  <div class="w-6/12 h-full p-4">
    <!-- Personal Details -->
    <div class="p-6 personal-details" >
      <h2 class="pb-4">Personal Details</h2>
      <div class="flex flex-col mb-4 form-group">
        <label for="completeInNo">Nombre completo</label>
        <input type="text" name="completeInNo" id="completeInNo" class="form-control" placeholder=""
           [disabled]="true" [value]="getProfile?.name">
      </div>
      <div class="flex flex-col mb-4 form-group">
        <label for="email">Correo Electronico</label>
        <input type="text" name="email" id="email" class="form-control" placeholder=""  [disabled]="true" [value]="getProfile?.email">
      </div>
      <div class="flex mb-4">
        <div class="w-2/4">
          <div class="flex flex-col pr-3 form-group">
            <label for="Home">Domicilio</label>
            <input type="text" name="Home" id="Home" class="form-control" placeholder="Lorem ipsum"
              formControlName="home" >
          </div>
        </div>
        <div class="w-2/4">
          <div class="flex flex-col pl-3 form-group">
            <label for="City">Ciudad</label>
            <input type="text" name="City" id="City" class="form-control" placeholder="Santiago"
              formControlName="city">
          </div>
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-2/4">
          <div class="flex flex-col pr-3 form-group">
            <label for="Country">Pais</label>
            <input type="text" name="Country" id="Country" class="form-control" placeholder="Lorem ipsum"
              formControlName="country">
          </div>
        </div>
        <div class="w-2/4">
          <div class="flex flex-col pl-3 form-group">
            <label for="regionOrState">Región o estado</label>
            <input type="text" name="regionOrState" id="regionOrState" class="form-control" placeholder="Santiago"
              formControlName="regionState">
          </div>
        </div>
      </div>
      <div class="flex mb-4">
        <div class="w-2/4">
          <div class="flex flex-col pr-3 form-group">
            <label for="Nationality">Nacionalidad</label>
            <input type="text" name="Nationality" id="Nationality" class="form-control" placeholder="Chile"
              formControlName="nationality">
          </div>
        </div>
        <div class="w-2/4">
        </div>
      </div>
    </div>
  </div>
  <div class="w-6/12 h-full p-4 ">
    <!-- bank Details -->
    <div class="h-full p-6 bank-details">
      <h2 class="pb-4">Bank Details</h2>
      <div class="mb-4 card justify-content-center">
        <div class="flex flex-col form-group">
          <label for="SelectBank">Seleccionar banco</label>
        </div>
        <div class="relative w-full">
          <!-- Trigger button -->
          <button  class="px-4 py-2 text-white bg-gray-800 rounded-md focus:outline-none focus:bg-gray-700 bank-option" (click)="isDropdownOpen=!isDropdownOpen">
            {{CurrentBankName}}
            <i class="fa fa-angle-down" ></i>
          </button>

          <!-- Dropdown menu -->
          <div  *ngIf="isDropdownOpen" class="absolute right-0 z-10 w-56 mt-2 bg-white border border-gray-200 rounded-md shadow-lg">
            <div *ngFor="let option of BankOption">
              <button  type="button" class="block px-4 py-2 text-gray-800 hover:bg-gray-100" (click)="bankSubmit(option)">{{ option.name }}</button>
            </div>

          </div>
        </div>

    </div>
      <div class="flex flex-col mb-4 form-group">
        <label for="BankAccount">Bank Account</label>
        <input type="text" name="email" id="BankAccount" class="form-control" placeholder="Johndoe@gmail.com"
          formControlName="bankAccountNumber">
      </div>
      <div class="flex mb-4">
        <div class="w-2/4">
          <div class="flex flex-col pr-3 form-group">
            <label for="Account">Account</label>
            <input type="text" name="Account" id="Account" class="form-control" placeholder="John"
              formControlName="accountName">
          </div>
        </div>
        <div class="w-2/4">
          <div class="flex flex-col pl-3 form-group">
            <label for="RUT">RUT</label>
            <input type="text" name="RUT" id="RUTRUT" class="form-control" placeholder="Lorem ipsum"
              formControlName="rut">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="py-5 save-button">
  <button type="button" class="btn" (click)="submitForm()" >Save changes</button>
</div>
