<div class="verification-area"  id="PersonVerification">
  <div class="modal">
    <div class="p-5 top-bar">
      <div class="flex">
        <div class="w-3/4">
          <a href="">Verification Persona</a>
        </div>
        <div class="flex justify-end w-1/4">
          <button type="button" class="btn" (click)="toggleDetails()"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
    </div>
    <div class="pt-5 modal-content">
      <div class="file-inputs">
        <div class="flex mb-1">
          <div class="w-2/4 p-3">
            <div>
              <div class="py-3 pl-2 label" >
                <p>Selfie</p>
              </div>
              <div class="flex items-center w-full form-group">
                <input type="file" class="text-white  form-control-file" name="selfieVerification"  id="uploadFile1" placeholder="" multiple (change)="onFileChange($event)">
              </div>
            </div>

          </div>
          <div class="w-2/4 p-3">
            <div>
              <div class="py-3 pl-2 label" >
                <p>Carnet</p>
              </div>
              <div class="flex items-center w-full form-group">
                <input type="file" id="uploadFile2" class="text-white form-control-file" name="selfieVerification"  placeholder=""
                multiple (change)="onFileChange($event)">

              </div>
            </div>

          </div>
        </div>

        <div class="flex mb-4">
          <div class="w-2/4 p-3">
            <div>
              <div class="py-3 pl-2 label" >
                <p>Domicilio</p>
              </div>
              <div class="flex items-center w-full form-group">
                <input type="file" id="uploadFile3" class="text-white form-control-file" name="selfieVerification"  placeholder=""
                multiple (change)="onFileChange($event)">
              </div>
            </div>

          </div>
          <div class="w-2/4 p-3">
            <div>
              <div class="py-3 pl-2 label" >
                <p>Cartola</p>
              </div>
              <div class="flex items-center w-full form-group">
                <input type="file" id="uploadFile4" class="text-white form-control-file" name="selfieVerification"  placeholder=""
                  multiple (change)="onFileChange($event)">
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="pt-3 pb-6 submit-modal">
      <button type="button" class="btn" (click)="uploadFiles()">
        Verify
      </button>
    </div>
  </div>
</div>




