<div class="p-5 overflow-hidden payment-area ">
  <div class="mb-5 market-area">
    <div class="flex">
      <div class="w-4/12">
        <div class="p-4 market-item">
          <div class="relative top-bar">
            <img src="assets/pic/market1.png" alt="" class="w-full h-auto rounded-md">
            <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overly-topbar">
              <div class="flex flex-col items-start justify-between w-full h-full p-4">
                <div class="flex items-center justify-between w-full">
                  <button class="rentail-btn" type="button">Rental Property</button>
                  <button class="fvt-btn" type="button">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </div>
                <div class="w-full progressbar-area">
                  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 progressbar">
                    <div class="bg-blue-600 h-2.5 rounded-full progressbar-line" style="width: 45%"></div>
                  </div>
                  <div class="flex justify-between w-full p-3">
                    <p>60%</p>
                    <p>132 token left</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-5 market-body">
            <div class="p-5 market-content">
              <div class="market-details">
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Valor por token</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$115.000</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Tokens</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">10</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Total</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$1.150.000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="p-4 market-item">
          <div class="relative top-bar">
            <img src="assets/pic/market1.png" alt="" class="w-full h-auto rounded-md">
            <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overly-topbar">
              <div class="flex flex-col items-start justify-between w-full h-full p-4">
                <div class="flex items-center justify-between w-full">
                  <button class="rentail-btn" type="button">Rental Property</button>
                  <button class="fvt-btn" type="button">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </div>
                <div class="w-full progressbar-area">
                  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 progressbar">
                    <div class="bg-blue-600 h-2.5 rounded-full progressbar-line" style="width: 45%"></div>
                  </div>
                  <div class="flex justify-between w-full p-3">
                    <p>60%</p>
                    <p>132 token left</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-5 market-body">
            <div class="p-5 market-content">
              <div class="market-details">
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Valor por token</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$115.000</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Tokens</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">10</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Total</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$1.150.000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-4/12">
        <div class="p-4 market-item">
          <div class="relative top-bar">
            <img src="assets/pic/market1.png" alt="" class="w-full h-auto rounded-md">
            <div class="absolute top-0 bottom-0 left-0 right-0 w-full h-full overly-topbar">
              <div class="flex flex-col items-start justify-between w-full h-full p-4">
                <div class="flex items-center justify-between w-full">
                  <button class="rentail-btn" type="button">Rental Property</button>
                  <button class="fvt-btn" type="button">
                    <i class="fa-regular fa-heart"></i>
                  </button>
                </div>
                <div class="w-full progressbar-area">
                  <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700 progressbar">
                    <div class="bg-blue-600 h-2.5 rounded-full progressbar-line" style="width: 45%"></div>
                  </div>
                  <div class="flex justify-between w-full p-3">
                    <p>60%</p>
                    <p>132 token left</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-5 market-body">
            <div class="p-5 market-content">
              <div class="market-details">
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Valor por token</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$115.000</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Tokens</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">10</p>
                    </div>
                  </div>
                </div>
                <div class="flex items-center w-full px-4 mb-3 investment-item active">
                  <div class="flex items-center justify-between w-full">
                    <div class="price">
                      <p>Total</p>
                    </div>
                    <div class="flex items-center details">
                      <p class="mx-2">$1.150.000</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class=" md:p-2 lg:p-2 2xl:p-4">
    <div class="p-8 BuyToken">
      <div class="flex">
        <div class="w-8/12">
          <h2 class="title">
            Comprar más token
          </h2>
          <div class="p-10 my-3 cart-box">
            <div class="flex items-start">
              <div class="w-1/4">
                <img src="assets/pic/g2.png" alt="g2" class="left-img">
              </div>
              <div class="w-3/4">
                <div class="flex">
                  <div class="w-7/12">
                    <h4>Modern 5 -Bed Luxury Villa</h4>
                    <div class="flex my-3">
                      <img src="assets/icons/location.svg" alt="location">
                      <p>350 commercial LivingstonRd, blvd # 3564 Linden, New jersey</p>
                    </div>
                  </div>
                  <div class="flex justify-end w-5/12">
                    <button type="button" class="drop-btn">Proyectos <i class="fa-solid fa-angle-down"></i></button>
                  </div>
                </div>
                <div class="my-5 divider"></div>
                <div class="flex justify-between w-full">
                  <div>
                    <h2 class="price">
                      $100.000
                    </h2>
                  </div>
                  <div>
                    <div class="relative form-group">
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="" value={{count}}>
                      <button type="button" class="absolute top-0 left-0 h-full " (click)="count=count-1">-</button>
                      <button type="button" class="absolute top-0 right-0 h-full "  (click)="count=count+1">+</button>
                    </div>
                  </div>
                </div>
                <div class="flex items-center justify-between p-4 my-4 topBar-details">
                  <h2>Total</h2>
                  <h2>$1.150.000</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-4/12 p-5 pt-0">
          <h2 class="pb-6 title">
            Tipo de pago
          </h2>
          <div class="mt-2 transfer-area">
              <div class="p-5 form-radio">
                <div class="p-5 border-bottom">
                  <input type="radio" id="test1" name="radio-group" checked>
                  <label for="test1">
                    <div class="mx-2 capitalize">
                      <p>transfrencia bancaria</p>
                    </div>
                    <div class="pt-3 mx-2 capitalize bottom-txt">
                      <p>Lorem ipsum</p>
                    </div>
                  </label>
                </div>
                <div class="p-5 border-bottom">
                  <input type="radio" id="test2" name="radio-group" checked>
                  <label for="test2">
                    <div class="mx-2 capitalize">
                      <p>transfrencia bancaria</p>
                    </div>
                    <div class="pt-3 mx-2 capitalize bottom-txt">
                      <p>Lorem ipsum</p>
                    </div>
                  </label>
                </div>

                <div class="flex items-center p-5">
                    <div class="label-box">
                      <input type="radio" id="test3" name="radio-group" checked>
                      <label for="test3">
                      </label>
                    </div>
                    <div class="div">
                      <div class="relative select-currency-bottom">
                        <button class="flex items-center justify-between dropdown-toggle" type="button" (click)="currencyDrop=!currencyDrop" >
                              <img src="assets/logos/usdt.svg" alt="usdt">
                              <p class="mx-2">USDT</p>
                              <i class="fa-solid fa-angle-down"></i>
                        </button>
                        <div class="absolute dropdown-menu dropdown-menu-right " *ngIf="currencyDrop">
                          <button class="flex items-center justify-between dropdown-item" type="button" >
                            <img src="assets/logos/bitcoin.svg" alt="bitcoin">
                            <p class="mx-2">BTC</p>
                          </button>
                          <button class="flex items-center justify-between dropdown-item" type="button" >
                            <img src="assets/logos/usdt.svg" alt="usdt">
                            <p class="mx-2">USDT</p>
                          </button>
                        </div>
                      </div>
                    </div>
                </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
