.market-area{
  .market-item{
    .top-bar{
      .rentail-btn{
        padding: 6px 20px;
        border-radius: 0px 6px 6px 0px;
        background: rgba(255, 65, 65, 1);
        font-family: "Poppins",sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
      .fvt-btn{
        background-color: rgba(255, 255, 255, 0.89);
        height: 40px;
        width: 40px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.progressbar-area{
  .progressbar{
    background-color: rgba(255, 255, 255, 0.6);
  }
  .progressbar-line{
    background-color: rgba(63, 227, 138, 1);
  }
  p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
.market-body{
  background: #1d1c27;
  border-radius: 0 0 10px 10px;
}
.investment-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  height: 48px;
  border-radius: 8px;

  .price {
    p {
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.14em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
  }

  .details {
    p {
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.14em;
      text-align: center;
      color: rgba(255, 255, 255, 1);

      &.ac {
        color: rgba(86, 237, 155, 1);
      }
    }
  }


  &.active {
    background-color: rgba(20, 20, 28, 1);
  }
}
.market-content{
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
}
.BuyToken{
  background: rgba(28, 28, 38, 1);
  box-shadow: 4px 4px 33px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  .title{
    font-family: "Poppins",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    padding: 10px 0;
  }
  .cart-box{
    background: rgba(255, 255, 255, 0.06);
    border-radius: 10px;
    .left-img{
      width: 182px;
      height: 163px;
    }
    h4{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
    }
    p{
      padding-left: 10px;
      font-family: "Poppins",sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 0.6);
    }
    .drop-btn{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0em;
      text-align: center;
      color: rgba(255, 255, 255, 1);
      border: 1.4px solid rgba(49, 53, 63, 1);
      padding: 4px 20px;
      border-radius: 10px;
    }
    .price{
      font-family: "Poppins",sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(86, 237, 155, 1);
    }
    .form-group{
      input{
        width: 94px;
        height: 36px;
        border-radius: 5.6px;
        border: 1.4px solid rgba(49, 53, 63, 1);
        font-family: "Poppins",sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          background-color: transparent;
        padding: 0 30px;
        color: rgba(255, 255, 255, 1);
        text-align: center;
      }

      button{
        color: rgba(255, 255, 255, 0.6);
        font-family: "Poppins",sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding: 0 10px;
      }
    }
  }
}
.divider {
  background-color: rgba(255, 255, 255, 0.12);
  height: 1px;
  width: 100%;
}
.topBar-details{
  padding: 7px 25px;
  border-radius: 5px;
  border:1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source:linear-gradient(93.66deg, rgba(86, 237, 92, 0.3) 9.59%, rgba(86, 237, 155, 0) 103.12%);
  background-color: rgba(20, 20, 28, 1);
  h2{
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.14em;
    text-align: left;
    color:  rgba(86, 237, 155, 1);
  }

}

.transfer-area{
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;

  .border-bottom{
    border-bottom:0.8px solid rgba(134, 144, 171, 0.2);
    p{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      color:rgba(255, 255, 255, 0.6);
      margin-top: -5px;
    }
    .bottom-txt{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      color:rgba(255, 255, 255, 0.6);
    }
  }
  .form-radio{
    [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: "";
    width: 13px;
    height: 13px;
    background: rgb(86, 237, 155);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  }
}


.label-box{
  margin-top: -27px;
}
.select-currency-bottom{
  .dropdown-toggle{
    border: 2px solid rgba(49, 53, 63, 1);
    background-color: transparent;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    padding: 7px 20px;
    border-radius: 10px;
    color: rgba(255, 255, 255, 1);
  }
  .dropdown-menu{
    background-color: #1d1c27;
    border-radius: 10px;
    padding: 20px;
    .dropdown-item{
      font-family: "Poppins",sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 31px;
      letter-spacing: 0em;
      text-align: center;
      padding: 7px 20px;
      border-radius: 10px;
      color: rgba(255, 255, 255, 1);
    }
  }
}
