.sidebar{
  width: 256px;
  background: rgba(28, 28, 38, 1);
  min-height: 100vh;
  max-height: 100% !important;
  border-radius: 0px 1px 0px 0px;
}



.right-content{
  width: 100%;
  background-color: rgba(19, 19, 27, 1);

}
.header-bar{
  background-color: rgba(28, 28, 38, 1);
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content{
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar{
    display: none;
  }
}
@media only screen and (max-width: 1600px){
  .content{
    height: 110vh !important;
  }
}