<div class="verification-area"  id="TwoFactorAuthentication" >
  <div class="modal">
    <div class="p-5 top-bar">
      <div class="flex">
        <div class="w-3/4">
        </div>
        <div class="flex justify-end w-1/4">
          <button type="button" class="btn" (click)="toggleDetails()"><i class="fa-solid fa-xmark" ></i></button>
        </div>
      </div>
    </div>
    <div class="pt-5 modal-content">
      <div class="py-4 top-title">
          <h2>2-Factor Authentication</h2>
      </div>
      <div class="flex justify-center w-full">
          <img src="assets/qrCode.svg" alt="qrCode">
      </div>
      <div class="py-4 download-text">
          <p>If you want to turn on 2FA, use <a href=""> Google authentication app</a> to scan code,
            then enter six-digit code provided by the app to the form below.</p>
      </div>
    </div>
    <div class="pt-3 pb-6 submit-modal">
      <button type="button" class="btn" >
        Download App
      </button>
    </div>

    <div class="pt-2 pb-4 text-center verify-txt">
        <p>Enter 6 digit code</p>
    </div>
    <div class="verify-code">
        <div class="mr-3 form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
        <div class="mr-3 form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
        <div class="mr-3 form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
        <div class="mr-3 form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
        <div class="mr-3 form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
        <div class=" form-group">
          <input type="text"
            class="form-control" name="" id="" aria-describedby="helpId" placeholder="5">
        </div>
    </div>
  </div>
</div>
