<!--
<div class="p-5 deposit-area">
  <div class="flex">
    <div class="w-8/12 md:p-2 lg:p-2 2xl:p-4">
      <div class="p-5 left-content">
        <div class="flex top-bar">
          <div class="w-2/4">
            <div class="title">
              <h2>Retirar</h2>
            </div>
          </div>
          <div class="relative flex items-center justify-end w-2/4">
            <button
              type="button"
              class="flex items-center justify-between drop-button"
              (click)="IsSearch = !IsSearch"
            >
              <img src="assets/logos/usdt.svg" alt="clip" class="mr-2" />
              <p class="mr-2">Usdt</p>
              <div>
                <i class="fa-solid fa-angle-down"></i>
              </div>
            </button>

            <div
              class="absolute w-full search-drop"
              [ngClass]="IsSearch ? 'active' : ''"
              *ngIf="IsSearch"
            >
              <div class="p-5 bg-transparent">
                <div class="relative w-full form-group">
                  <input
                    type="text"
                    class="w-full form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="Search Currency"
                  />
                  <button type="button" class="absolute top-0 right-0 h-full">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/flag/chile.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Pesos Chilenos</h3>
                    <p>CLP</p>
                  </div>
                </div>
                <div class="text-white"></div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/logos/usdt.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Tether</h3>
                    <p>USDT</p>
                  </div>
                </div>
                <div class="text-white">
                  <i class="fa-solid fa-check"></i>
                </div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/logos/Injective.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Injective</h3>
                    <p>INJ</p>
                  </div>
                </div>
                <div class="text-white"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 price-box">
          <div class="flex items-start justify-between">
            <div class="price-content">
              <p>Chilean Pesos/CLP</p>
              <h2 class="py-2">$35,352.02</h2>
            </div>
          </div>
        </div>
        bank -area
        <div class="bank-area">
          <div class="h-full p-6 bank-details">
            <div class="relative flex flex-col mb-4 form-group">
              <label for="SelectBank">What do you want to send ?</label>
              <button
                type="button"
                class="flex justify-start w-full SelectBank-btn"
                (click)="isWallet = !isWallet"
              >
                <div class="w-3/4 px-3 text-left flex items-center">
                  <img src="{{ selectWallet.pic }}" alt="usdt" class="mx-2" />
                  <p class="mx-2">
                    {{ selectWallet.name }}
                  </p>
                </div>
                <div class="flex justify-end w-1/4 px-3 text-end">
                  <button
                    type="button"
                    class="flex items-center justify-end arrow-btn"
                  >
                    <i
                      class="fa-solid"
                      [ngClass]="isWallet ? 'fa-angle-up' : 'fa-angle-down'"
                    ></i>
                  </button>
                </div>
              </button>
              <div
                class="absolute left-0 right-0 w-full p-4 rounded-lg dropdown-menu SelectBank-drop"
                [ngClass]="isWallet ? 'active' : ''"
                aria-labelledby="triggerId"
              >
                <div *ngFor="let item of WalletList">
                  <button
                    class="dropdown-item"
                    type="button"
                    (click)="walletChange(item)"
                  >
                    <img src="{{ item.pic }}" alt="usdt" class="mx-2" />
                    {{ item.name }}
                  </button>
                </div>
              </div>
            </div>
            <div class="relative flex flex-col mb-4 form-group">
              <label for="SelectBank">Seleccione Red</label>
              <button
                type="button"
                class="flex justify-start w-full SelectBank-btn"
                (click)="isNetwork = !isNetwork"
              >
                <div class="w-3/4 px-3 text-left flex items-center">
                  <p class="mx-2">
                    {{ Network }}
                  </p>
                </div>
                <div class="flex justify-end w-1/4 px-3 text-end">
                  <button
                    type="button"
                    class="flex items-center justify-end arrow-btn"
                  >
                    <i
                      class="fa-solid"
                      [ngClass]="isNetwork ? 'fa-angle-up' : 'fa-angle-down'"
                    ></i>
                  </button>
                </div>
              </button>
              <div
                class="absolute left-0 right-0 w-full p-4 rounded-lg dropdown-menu SelectBank-drop"
                [ngClass]="isNetwork ? 'active' : ''"
                aria-labelledby="triggerId"
              >
                <div *ngFor="let item of NetworkList">
                  <button
                    class="dropdown-item"
                    type="button"
                    (click)="NetworkChange($event)"
                  >
                    {{ item.name }}
                  </button>
                </div>
              </div>
            </div>
            <div class="flex mb-4 address-area">
              <div class="flex flex-col form-group w-full">
                <label for="address"
                  >What address do you want us to send your money to?</label
                >
                <div class="relative">
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="form-control w-full pl-24"
                    placeholder="Lorem ipsum"
                  />
                  <div
                    class="absolute left-0 top-0 h-full flex items-center address-text"
                  >
                    <p>Enter Wallet |</p>
                  </div>
                  <div class="absolute right-0 top-0 h-full flex items-center">
                    <button type="button" class="flex items-center select-address-btn" (click)="selectAddress=!selectAddress"><span>Select Address</span>
                      <i class="fa-solid fa-angle-down mx-2" ></i>
                    </button>
                  </div>
                  <div class="select-address absolute right-0 top-8" [ngClass]="selectAddress? 'active':''">
                    <div class="top-bar p-5">
                      <h2>Saved Addresses</h2>
                    </div>
                    <div class="address-list p-5">
                      <div class="flex justify-between items-center">
                        <div>
                          <h4>02154dsf4g8hxdrer45gh4245884</h4>
                          <p>Label 1</p>
                        </div>
                        <div>
                          <i class="fa-solid fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="address-list p-5 active">
                      <div class="flex justify-between items-center">
                        <div>
                          <h4>02154dsf4g8hxdrer45gh4245884</h4>
                          <p>Label 1</p>
                        </div>
                        <div>
                          <i class="fa-solid fa-check"></i>
                        </div>
                      </div>
                    </div>
                    <div class="address-list p-5">
                      <div class="flex justify-between items-center">
                        <div>
                          <h4>02154dsf4g8hxdrer45gh4245884</h4>
                          <p>Label 1</p>
                        </div>
                        <div>
                          <i class="fa-solid fa-check"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8 form-check checkbox">
              <label class="text-white form-check-label">
                <input type="checkbox" class="form-check-input" name="confirm" id="confirm" value="true"
                  formControlName="confirm" (click)="checkbox = !checkbox"
                  [ngClass]="checkbox ? 'activeCheck' : ''" />
                  Confirmo que la dirección ingresada es una dirección
              </label>
            </div>
            <div class="py-5 save-button">
              <button type="button" class="btn">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4/12 md:p-2 lg:p-2 2xl:p-4">
      <div class="px-6 py-5 transaction-history">
        <div class="flex justify-between top-text">
          <p>Ultimos Deposito</p>
          <button>View More</button>
        </div>
        <div *ngFor="let items of history" class="">
          <div class="flex items-center py-2 transaction-table-body">
            <div class="w-3/12 text-center coin">
              <div class="flex items-center">
                <div class="flex items-center justify-center coin-box">
                  <img [src]="items.flag" alt="chile" />
                </div>
                <div class="pl-3 coin-content">
                  <h4>{{ items.coinName }}</h4>
                </div>
              </div>
            </div>
            <div class="w-3/12 text-center type">
              <p [class]="items.typeBg">{{ items.type }}</p>
            </div>
            <div class="w-3/12 text-center Date">
              <p>{{ items.time }}</p>
            </div>

            <div class="w-3/12 text-center State">
              <p [class]="items.stateC">{{ items.state }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="p-5 deposit-area">
  <div class="flex">
    <div class="w-8/12 md:p-2 lg:p-2 2xl:p-4">
      <div class="p-5 left-content">
        <div class="flex top-bar">
          <div class="w-2/4">
            <div class="title">
              <h2>Retirar</h2>
            </div>
          </div>
          <div class="relative flex items-center justify-end w-2/4">
            <button
              type="button"
              class="flex items-center justify-between drop-button"
              (click)="IsSearch = !IsSearch"
            >
              <img src="assets/logos/usdt.svg" alt="clip" class="mr-2" />
              <p class="mr-2">Usdt</p>
              <div>
                <i class="fa-solid fa-angle-down"></i>
              </div>
            </button>

            <div
              class="absolute w-full search-drop"
              [ngClass]="IsSearch ? 'active' : ''"
              *ngIf="IsSearch"
            >
              <div class="p-5 bg-transparent">
                <div class="relative w-full form-group">
                  <input
                    type="text"
                    class="w-full form-control"
                    name=""
                    id=""
                    aria-describedby="helpId"
                    placeholder="Search Currency"
                  />
                  <button type="button" class="absolute top-0 right-0 h-full">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/flag/chile.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Pesos Chilenos</h3>
                    <p>CLP</p>
                  </div>
                </div>
                <div class="text-white"></div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/logos/usdt.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Tether</h3>
                    <p>USDT</p>
                  </div>
                </div>
                <div class="text-white">
                  <i class="fa-solid fa-check"></i>
                </div>
              </div>
              <div class="flex items-center justify-between p-4 currency-item">
                <div
                  class="flex items-center justify-start cursor-pointer top-content"
                >
                  <button type="button" class="top-content-btn">
                    <img src="assets/logos/Injective.svg" alt="chile" />
                  </button>
                  <div class="px-4">
                    <h3>Injective</h3>
                    <p>INJ</p>
                  </div>
                </div>
                <div class="text-white"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="py-3 price-box">
          <div class="flex items-start justify-between">
            <div class="price-content">
              <p>Chilean Pesos/CLP</p>
              <h2 class="py-2">$35,352.02</h2>
            </div>
          </div>
        </div>
        <!-- bank -area -->
        <div class="bank-area">
          <div class="h-full p-6 bank-details">
            <div class="relative flex flex-col mb-4 form-group">
              <label for="SelectBank">What do you want to send ?</label>
              <button
                type="button"
                class="flex justify-start w-full SelectBank-btn"
                (click)="isWallet = !isWallet"
              >
                <div class="w-3/4 px-3 text-left flex items-center">
                  <img src="{{ selectWallet.pic }}" alt="usdt" class="mx-2" />
                  <p class="mx-2">
                    {{ selectWallet.name }}
                  </p>
                </div>
                <div class="flex justify-end w-1/4 px-3 text-end">
                  <button
                    type="button"
                    class="flex items-center justify-end arrow-btn"
                  >
                    <i
                      class="fa-solid"
                      [ngClass]="isWallet ? 'fa-angle-up' : 'fa-angle-down'"
                    ></i>
                  </button>
                </div>
              </button>
              <div
                class="absolute left-0 right-0 w-full p-4 rounded-lg dropdown-menu SelectBank-drop"
                [ngClass]="isWallet ? 'active' : ''"
                aria-labelledby="triggerId"
              >
                <div *ngFor="let item of WalletList">
                  <button
                    class="dropdown-item"
                    type="button"
                    (click)="walletChange(item)"
                  >
                    <img src="{{ item.pic }}" alt="usdt" class="mx-2" />
                    {{ item.name }}
                  </button>
                </div>
              </div>
            </div>
            <div class="relative flex flex-col mb-4 form-group">
              <label for="SelectBank">Seleccione Red</label>
              <button
                type="button"
                class="flex justify-start w-full SelectBank-btn"
                (click)="isNetwork = !isNetwork"
              >
                <div class="w-3/4 px-3 text-left flex items-center">
                  <p class="mx-2">
                    {{ Network }}
                  </p>
                </div>
                <div class="flex justify-end w-1/4 px-3 text-end">
                  <button
                    type="button"
                    class="flex items-center justify-end arrow-btn"
                  >
                    <i
                      class="fa-solid"
                      [ngClass]="isNetwork ? 'fa-angle-up' : 'fa-angle-down'"
                    ></i>
                  </button>
                </div>
              </button>
              <div
                class="absolute left-0 right-0 w-full p-4 rounded-lg dropdown-menu SelectBank-drop"
                [ngClass]="isNetwork ? 'active' : ''"
                aria-labelledby="triggerId"
              >
                <div *ngFor="let item of NetworkList">
                  <button
                    class="dropdown-item"
                    type="button"
                    (click)="NetworkChange($event)"
                  >
                    {{ item.name }}
                  </button>
                </div>
              </div>
            </div>
            <div class="flex mb-4 address-area">
              <div class="flex flex-col form-group w-full">
                <label for="address"
                  >What address do you want us to send your money to?</label
                >
                <div class="relative">
                  <input
                    type="text"
                    name="address"
                    id="address"
                    class="form-control w-full pl-24"
                    placeholder="Lorem ipsum"
                  />
                  <div
                    class="absolute left-0 top-0 h-full flex items-center address-text"
                  >
                    <p>Enter Wallet |</p>
                  </div>
                  <div class="absolute right-0 top-0 h-full flex items-center">
                    <button type="button" class="flex items-center select-address-btn2" >
                      Save Address
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-8 form-check checkbox">
              <label class="text-white form-check-label">
                <input type="checkbox" class="form-check-input" name="confirm" id="confirm" value="true"
                  formControlName="confirm" (click)="checkbox = !checkbox"
                  [ngClass]="checkbox ? 'activeCheck' : ''" />
                  Confirmo que la dirección ingresada es una dirección
              </label>
            </div>
            <div class="py-5 save-button">
              <button type="button" class="btn">Continue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-4/12 md:p-2 lg:p-2 2xl:p-4">
      <div class="px-6 py-5 transaction-history">
        <div class="flex justify-between top-text">
          <p>Ultimos Deposito</p>
          <button>View More</button>
        </div>
        <div *ngFor="let items of history" class="">
          <div class="flex items-center py-2 transaction-table-body">
            <div class="w-3/12 text-center coin">
              <div class="flex items-center">
                <div class="flex items-center justify-center coin-box">
                  <img [src]="items.flag" alt="chile" />
                </div>
                <div class="pl-3 coin-content">
                  <h4>{{ items.coinName }}</h4>
                </div>
              </div>
            </div>
            <div class="w-3/12 text-center type">
              <p [class]="items.typeBg">{{ items.type }}</p>
            </div>
            <div class="w-3/12 text-center Date">
              <p>{{ items.time }}</p>
            </div>

            <div class="w-3/12 text-center State">
              <p [class]="items.stateC">{{ items.state }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
