.top-bar {
  .top-item {
    padding: 35px;
    width: 100%;
    height: 270px;
    border-radius: 10px;
    background-color: rgba(28, 28, 38, 1);

    .top-content-btn {
      background-color: rgba(49, 53, 63, 1);
      width: 38px;
      height: 38px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .top-content {
      h3 {
        font-family: "Poppins", sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }

    .balance-price {
      .price-details {
        h2 {
          font-family: "Poppins", sans-serif;
          font-size: 22px;
          font-weight: 700;
          line-height: 33px;
          letter-spacing: 0.02em;
          text-align: left;
          color: rgba(255, 255, 255, 1);
        }

        p {
          padding: 8px 0;
          font-family: "Poppins", sans-serif;
          font-size: 14px;
          font-weight: 500;
          line-height: 21px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(255, 255, 255, 1);
        }
      }

      .price-parcent {
        background-color: rgba(38, 59, 56, 1);
        padding: 5px 15px;
        border-radius: 15px;
        text-align: center;

        p {
          font-family: "Poppins", sans-serif;
          font-size: 10px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0.02em;
          text-align: left;
          color: rgba(86, 237, 155, 1);
        }
      }
    }
    .remove-btn {
      font-family: "Poppins", sans-serif;
      background: linear-gradient(91.44deg, #c20505 1.23%, #f84f4f 99.73%);
      box-shadow: 4px 4px 32px 0px rgba(103, 90, 255, 0.07);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0em;
      color: rgba(255, 255, 255, 1);
      border-radius: 9px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 45px;
      text-transform: capitalize;
    }

    .balance-button-group {
      .remove-btn {
        font-family: "Poppins", sans-serif;
        background: linear-gradient(91.44deg, #c20505 1.23%, #f84f4f 99.73%);
        box-shadow: 4px 4px 32px 0px rgba(103, 90, 255, 0.07);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 1);
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 45px;
        text-transform: capitalize;
      }

      .deposit-btn {
        text-transform: capitalize;
        font-family: "Poppins", sans-serif;
        box-shadow: 4px 4px 32px 0px rgba(103, 90, 255, 0.07);
        background-color: transparent;
        border: 0.8px solid rgba(255, 255, 255, 1);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0em;
        color: rgba(255, 255, 255, 1);
        border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 45px;
        transition: 0.3s all ease-in;

        &:hover {
          background: linear-gradient(91.44deg, #c20505 1.23%, #f84f4f 99.73%);
          border: 0.8px solid #c20505;
        }
      }
    }


  }

  .chilean-pesos {
    .top-content {
      p {
        font-family: "Poppins", sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }

    .chilean-bottom {
      .chilean-bottom-details1 {
        p {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(255, 255, 255, 1);
        }
      }

      .chilean-bottom-details2 {
        p {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0.02em;
          text-align: left;
          color: rgba(86, 237, 155, 1);
        }
      }

      .chilean-bottom-details3 {
        p {
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0.02em;
          text-align: left;
          color: rgba(86, 237, 155, 1);
          background-color: rgba(37, 59, 56, 1);
          padding: 5px 15px;
          border-radius: 15px;
        }
      }
    }
  }
}

.nav-bar{
  h2{
    font-family: "Poppins",sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.03em;
    text-align: left;
  }
  .menu{
    .nav{
      list-style: none;
      .nav-item{
        list-style: none;
        background: linear-gradient(0deg, #1C1C26, #1C1C26),
                    linear-gradient(0deg, #31353F, #31353F);
        border: 1px solid rgba(49, 53, 63, 1);
        border-radius: 6px;
        padding: 10px 20px;
        margin: 0 7px;
        a{
          font-family: "Poppins",sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
  }
  .search-bar{
    margin-left: 15px;
    input{
      background: linear-gradient(0deg, #31353F, #31353F),
      linear-gradient(0deg, rgba(49, 53, 63, 0.26), rgba(49, 53, 63, 0.26));
      border: 1px solid rgba(49, 53, 63, 1);
      border-radius: 71px;
      padding: 7px 30px;
      color: rgba(255, 255, 255, 1);
      font-family: "Poppins",sans-serif;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      height: 42px;
    }
    button{
      padding: 0 20px;
      color: rgba(255, 255, 255, 1);
    }
  }
}

.market-area{
  .market-item{
    .top-bar{
      .rentail-btn{
        padding: 6px 20px;
        border-radius: 0px 6px 6px 0px;
        background: rgba(255, 65, 65, 1);
        font-family: "Poppins",sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
      .fvt-btn{
        background-color: rgba(255, 255, 255, 0.89);
        height: 40px;
        width: 40px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.progressbar-area{
  .progressbar{
    background-color: rgba(255, 255, 255, 0.6);
  }
  .progressbar-line{
    background-color: rgba(63, 227, 138, 1);
  }
  p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
}
.market-body{
  background: #1d1c27;
  border-radius: 0 0 10px 10px;
  .price-button{
    button{
      padding: 9px 25px;
      border-radius: 0px 8px 8px 0px;
      border: 1px solid rgba(255, 255, 255, 0.06);
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.06), rgba(255, 255, 255, 0.06)),
      linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
      font-family: "Poppins",sans-serif;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      letter-spacing: 0em;
      text-align: left;
      color: rgba(255, 255, 255, 1);
      span{
        font-family: "Poppins",sans-serif;
        font-size: 10px;
        font-weight: 500;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        color: rgba(255, 255, 255, 0.7);
        margin-left: 5px;
      }
    }
  }
  .price{
      p{
        font-family: "Poppins",sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-align: right;
        color: rgba(86, 237, 155, 1);
      }
  }
}
.market-details{
  h2{
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
  }
  p{
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }

}
.bath-details{
  p{
    font-family: "Poppins",sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.6);
  }
}
.status{
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 8px;
  padding: 15px 20px;
  p{
    color: rgba(86, 237, 155, 1);
    font-family: "Poppins",sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
  }
  h4{
    color: rgba(255, 255, 255, 1);
    font-family: "Poppins",sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
  }
}

.bottom-action{
  button{
    box-shadow: 4px 4px 32px 0px rgba(103, 90, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 1);
    padding: 10px 25px;
    font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: 0.3s all ease-in;
    background-color: transparent;
    &:hover{
      background: linear-gradient(91.44deg, #C20505 1.23%, #F84F4F 99.73%);
      border-color: transparent;
    }
    &.active{
        background: linear-gradient(91.44deg, #C20505 1.23%, #F84F4F 99.73%);
        border-color: transparent;
    }
  }
    h2{
      color: rgba(255, 255, 255, 1);
      font-family: "Poppins";
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      letter-spacing: 0.02em;
      text-align: center;
    }
}
