.sidebar-content{
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar{
    display: none;
  }
  &::-moz-webkit-scrollbar{
    display: none;
  }
  .nav-bar{
    padding-top: 100px;
    .nav{
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px 20px;
      .nav-item{
        width: 100%;
        height: 50px;
        margin: 10px 0;
        .nav-link{
          padding: 10px 20px;
          border-radius: 10px;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          background: transparent;
          span{
            color: #fff;
            padding: 0 10px;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;
            letter-spacing: 0em;
            text-align: left;

          }
        }
        .active{
          background:  linear-gradient(91.44deg, #C20505 1.23%, #F84F4F 99.73%);
          ;
          img{
            filter: brightness(1.5);
          }
        }
      }
    }
  }

}

@media only screen and (max-width: 1600px){
  .sidebar-content{
     .nav-bar {
      padding-top: 0;
      }
  }
}
